.contain-to-grid.sticky
	.nav.top-bar
		%a{href: "/"} Eye Music
		%ul.nav.top-bar
			%li
				%a{href: "/photos"} Photos
				%br
				%br
			%li
				%a{href: "/events"} Events
				%br
				%br
			%li
				%a{href: "/users"} Profile

.body
	%iframe{allowtransparency: "true", frameborder: "0", height: "80", src: "https://embed.spotify.com/?uri=https://play.spotify.com/track/3YWO8v7ATjg6LOM3O6lgSX", width: "300"}
.container
	%h1
		Tag Your Favorite Photos, With Your Favorite Songs

