.contain-to-grid.sticky
	.nav.top-bar
		%a{href: "/"} Eye Music
		%ul.nav.top-bar
			%li
				%a{href: "/photos"} Photos
				%br
				%br
			%li
				%a{href: "/events"} Events
				%br
				%br
			%li
				%a{href: "/users"} Profile

%h4 Tag your favorite memories with a song.

= button_to "New Photo", new_photo_path, method: "get"
%br
%br

.image_container
	- @photos.each do |p|
		.large-3.small-6.columnsx
			%a.th{href: "/photos/#{p.id}"}
				.resize_fit_center
					= image_tag p.image.url, :class => "image"
