.contain-to-grid.sticky
	.nav.top-bar
		%a{href: "/"} Eye Music
		%ul.nav.top-bar
			%li
				%a{href: "/photos"} Photos
				%br
				%br
			%li
				%a{href: "/events"} Events
				%br
				%br
			%li
				%a{href: "/users"} Profile

= form_for @new_photo do |f|

	= f.label :browse_images
	%br
	= f.file_field :image
	%br
	= f.submit "Add Image"

